body {
    padding-top: 50px;
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 50px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;
}

#nav-elements-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

a {
    color: black;
    text-decoration: none;
    font-family: arial;
    font-size: 15px;
}

#profile-icon {
    height: 30px;
    border-radius: 50%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 130px);
}

#google-logo {
    position: relative;
    bottom: 10%;
}
#searchbar-form {
    position: relative;
    bottom: calc(10% - 30px);
}
#search-field {
    position: relative;
    right: 5px;
}
#submit-button {
    position: relative;
    left: 5px;
}

footer {
    background-color: #f2f2f2;
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    color: rgba(0,0,0,.54);
    font-family: arial;
    font-size: 15px;
}

#footer-upper-section {
    height: 50%;
    border-bottom: 1px solid #dadce0;
    display: flex;
    align-items: center;
    padding-left: 5%;
}

#footer-lower-section {
    height: 50%;
    display: flex;
    justify-content: space-around;
}

#footer-lower-section-group-1 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-lower-section-group-2 {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
